/*(Estilos globais compartilhados entre páginas)*/

*{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: #e0e0e0;
}

ul{
    list-style: none;
}

li{
    line-height: 1;
}

a {
    text-decoration: none;
    color: #e0e0e0;
}