footer{
    display: flex;
    background-color: rgba(16, 1, 1, 0.5);
    align-items: center;
    justify-content: space-between;
    font-style: italic;
}

.content-footer{
    display: flex;
    margin: 0px 37px 0px 37px;
    min-height: 30px;
    align-items: center; 
    justify-content: space-between; 
    text-align: center; 
    width: 100vw; 
    flex-wrap: wrap; 
}
.content-footer p {
    display: flex;
    align-items: center;
    gap: 3px;
    justify-content: space-between;
}
.content-footer p a {
    color: #e0e0e0;
    font-weight: 700;
}
.content-footer p a:hover {
    color: #FF6363;
    transition: color 0.1s ease-in;
}
.content-footer img {
    display: block;
    max-width: 60%;
}