body{
    background-color: rgb(39, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #0a0000, #650000);
}

.em-manutencao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.em-manutencao h1{
    color: yellow;
    font-size: 3rem;
    margin-bottom: 10px;
}

.em-manutencao h3{
    color: rgb(228, 228, 119);
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.em-manutencao p{
    text-align: center;
    width: 95%;
    margin-bottom: 10px;
}