@import url('../base/variables.css');
@import url('../base/global.css');


body{
    background-color: rgb(39, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #1e0000, #650000);
}

#alguma-coisa {
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 100%;
}

#btn-back {
    position: absolute;
    left: 0;
    top: 50%; 
    transform: translateY(-50%); 
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
}

.material-symbols-outlined{
    width: 1rem;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: white;
    cursor: pointer;
}