/* Estilo geral */
body {
    background: linear-gradient(45deg, #1e0000, #650000);
    margin: 0;
    padding: 0;
}

main {
    max-width: 100vw;
    margin: 0px 1.5rem 0px 1.5rem;
    padding: 1rem;
    text-align: center;
}

#titulo-principal {
    margin-bottom: 10px;
    font-size: 2rem;
}

.tema-do-assunto {
    font-size: 1.6rem;
    font-weight: bold;
    color: #FF6363;
}

/* Contêiner dos cards */
.cards-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
}

/* Estilo dos cards */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(16, 1, 1, 0.5);
    box-shadow: 0 4px 8px rgba(224, 224, 224, 0.15);
    border-radius: 8px;
    padding: 1.5rem;
    min-width: 100%; 
    max-width: 350px;
    width: auto; 
    gap: 1rem;
}

#card-ods{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Texto no card */
.card p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
}

/* Imagens no card */
.card figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 17%;
}

.card figure img {
    max-width: 100%;
    height: 100%; 
    border-radius: 8px;
}

.card figure figcaption {
    margin-top: 0.5rem; 
    font-size: 0.9rem;
    text-align: center;
    width: 100%;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

#valores {
    max-width: 100%;
}

.valores-lista {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    margin-top: 1rem;
}

.valores-lista ul {
    width: 100%;
    text-align: center;
    font-size: 1rem;
}
.valores-lista ul li{
    line-height: 1.5;
}

#valores h3 {
    font-size: 1.6rem;
    font-weight: bold;
}